<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/user-male-icon.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p><%= data.username %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active">
      <a href="/users">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/sensors">
        <i class="fa fa-lightbulb-o"></i> <span>Sensors</span>
      </a>
    </li>
    <li>
      <a href="/controls">
        <i class="fa fa-power-off"></i> <span>Controls</span>
      </a>
    </li>
    <li>
      <a href="/cctv">
        <i class="fa fa-camera"></i> <span>CCTV</span>
      </a>
    </li>
    <li>
      <a href="/user-management">
        <i class="fa fa-users"></i> <span>User Management</span>
      </a>
    </li>
    <li>
      <a href="/login/logout">
        <i class="fa fa-sign-out"></i> <span>Logout</span>
      </a>
    </li>
</section>
<!-- /.sidebar -->
</aside>