<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <style>
  .slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  </style>
</head>
<body class="hold-transition skin-green sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <% include partials/header %>

  <% include partials/sidebar %>
  
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        CCTV
      </h1>
      <ol class="breadcrumb">
        <li><a href="/users"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#"><i class="fa fa-camera"></i> CCTV</a></li>
      </ol>
    </section>
   <section class="content">
    <div class="row">
      <div class="col-lg-4">
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">CAM 1</h3>
            <div class="box-tools">
              <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
              <div class="row">
                  <div class="col-sm-12 text-center">
                    <h3>
                      Status : <span id="lampu1">Unknow</span>
                    </h3>
                  </div>
              </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-12">
                <div class="slidecontainer">
                  <input type="range" min="0" max="180" step="30" value="90" class="slider" id="myRange">
                  <span class="text-center" id="demo">90</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
  
    <% include partials/footer %>
    
</div>

  <% include partials/script %>

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree();
  });
  function kirim(data,cam) {
      $.ajax({
          url: "/api/mqtt/publish",
          method: "POST",
          data : {
            topic : "/cctv/cam"+cam,
            pesan : data
          },
          success: function(data) {
            console.log(data);
              for(var i in data) {
                console.log(data[i].status);
                console.log(data[i].topic);
              }
          },
          error: function(data) {
            console.log(data);
          }
        });
  }
var slider1 = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider1.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider1.oninput = function() {
    output.innerHTML = this.value;
    kirim(this.value,'1');
}
</script>
</body>
</html>
