<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart Home Panel</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel='stylesheet' href='/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/adminlte.min.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="/css/skins/_all-skins.min.css" />
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body class="hold-transition skin-green-light sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>H</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Smarthome</b> Panel</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><%= data.username %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p><%= data.username %>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/login/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/img/user-male-icon.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= data.username %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/users">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/sensors">
            <i class="fa fa-lightbulb-o"></i> <span>Sensors</span>
          </a>
        </li>
        <li class="active">
          <a href="/controls">
            <i class="fa fa-power-off"></i> <span>Controls</span>
          </a>
        </li>
        <li>
          <a href="/cctv">
            <i class="fa fa-camera"></i> <span>CCTV</span>
          </a>
        </li>
        <li>
          <a href="/login/logout">
            <i class="fa fa-sign-out"></i> <span>Logout</span>
          </a>
        </li>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Controls
      </h1>
      <ol class="breadcrumb">
        <li><a href="/users"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#"><i class="fa fa-power-off"></i> Controls</a></li>
      </ol>
    </section>
   <section class="content">
    <div class="row">
      <div class="col-lg-4">
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">Lampu 1</h3>
            <div class="box-tools">
              <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
              <div class="row">
                  <div class="col-sm-12 text-center">
                    <h3>
                      Status : <span id="lampu1">Unknow</span>
                    </h3>
                  </div>
              </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6">
                  <button onclick="kirim('ON1')" id="on1" type="button" class="btn btn-success col-sm-12">ON</button>
              </div>
              <div class="col-sm-6">
                  <button id="off1" onclick="kirim('OFF1')" type="button" class="btn btn-danger col-sm-12">OFF</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="box box-solid box-primary">
            <div class="box-header">
              <h3 class="box-title">Lampu 2</h3>
              <div class="box-tools">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>
                        Status : <span id="lampu2">Unknow</span>
                      </h3>
                    </div>
                </div>
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-6">
                    <button id="on2" type="button" onclick="kirim('ON2')" class="btn btn-success col-sm-12">ON</button>
                </div>
                <div class="col-sm-6">
                    <button id="off2" type="button" onclick="kirim('OFF2')" class="btn btn-danger col-sm-12">OFF</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-solid box-primary">
              <div class="box-header">
                <h3 class="box-title">Lampu 3</h3>
                <div class="box-tools">
                  <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                        <h3>
                          Status : <span id="lampu3">Unknow</span>
                        </h3>
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-6">
                      <button id="on3" type="button" onclick="kirim('ON3')" class="btn btn-success col-sm-12">ON</button>
                  </div>
                  <div class="col-sm-6">
                      <button id="off3" type="button" onclick="kirim('OFF3')" class="btn btn-danger col-sm-12">OFF</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0.0
    </div>
    <strong>Copyright &copy; 2018 <a href="">Ahmad Herdiansyah</a>.</strong> All rights
    reserved.
  </footer>
</div>
<script src="/dist/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree();
  });
  function kirim(data) {
      $.ajax({
          url: "/api/mqtt/publish",
          method: "POST",
          data : {
            topic : "/controls",
            pesan : data
          },
          success: function(data) {
            console.log(data);
              for(var i in data) {
                console.log(data[i].status);
                console.log(data[i].topic);
              }
          },
          error: function(data) {
            console.log(data);
          }
        });
  }
  function cekdata(angka){
        $.ajax({
          url: "/api/data",
          method: "POST",
          data : {
            topic : "/status/lampu"+angka,
            limit: "1"
          },
          success: function(data) {
            console.log(data);
              for(var i in data) { 
                $("#lampu"+angka).text(data[i].message);
                if (data[i].message === "ON") {
                  $("#on"+angka).addClass("disabled");
                  $("#off"+angka).removeClass("disabled");
                }else{
                  $("#off"+angka).addClass("disabled");
                  $("#on"+angka).removeClass("disabled");
                }
              }
          },
          error: function(data) {
            console.log(data);
          }
        });
};
setInterval(function(){
  cekdata('1');
  cekdata('2');
  cekdata('3');
  cekdata('4');
},3000);
  
</script>
</body>
</html>
