<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body class="hold-transition skin-green sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <% include partials/header %>

  <% include partials/sidebar %>
  
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Controls
      </h1>
      <ol class="breadcrumb">
        <li><a href="/users"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#"><i class="fa fa-power-off"></i> Controls</a></li>
      </ol>
    </section>
   <section class="content">
    <div class="row">
      <div class="col-lg-3">
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title">Lampu 1</h3>
          </div>
          <div class="box-body">
              <div class="row">
                  <div class="col-sm-12 text-center">
                    <h3>
                      Status : <span id="lampu1">Unknow</span>
                    </h3>
                  </div>
              </div>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6">
                  <button onclick="kirim('ON1')" id="on1" type="button" class="btn btn-success col-sm-12">ON</button>
              </div>
              <div class="col-sm-6">
                  <button id="off1" onclick="kirim('OFF1')" type="button" class="btn btn-danger col-sm-12">OFF</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
          <div class="box box-solid box-primary">
            <div class="box-header">
              <h3 class="box-title">Lampu 2</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3>
                        Status : <span id="lampu2">Unknow</span>
                      </h3>
                    </div>
                </div>
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-6">
                    <button id="on2" type="button" onclick="kirim('ON2')" class="btn btn-success col-sm-12">ON</button>
                </div>
                <div class="col-sm-6">
                    <button id="off2" type="button" onclick="kirim('OFF2')" class="btn btn-danger col-sm-12">OFF</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="box box-solid box-primary">
              <div class="box-header">
                <h3 class="box-title">Lampu 3</h3>
              </div>
              <div class="box-body">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                        <h3>
                          Status : <span id="lampu3">Unknow</span>
                        </h3>
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-6">
                      <button id="on3" type="button" onclick="kirim('ON3')" class="btn btn-success col-sm-12">ON</button>
                  </div>
                  <div class="col-sm-6">
                      <button id="off3" type="button" onclick="kirim('OFF3')" class="btn btn-danger col-sm-12">OFF</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box box-solid box-primary">
              <div class="box-header">
                <h3 class="box-title">Lampu 3</h3>
              </div>
              <div class="box-body">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                        <h3>
                          Status : <span id="lampu4">Unknow</span>
                        </h3>
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                <div class="row">
                  <div class="col-sm-6">
                      <button id="on4" type="button" onclick="kirim('ON4')" class="btn btn-success col-sm-12">ON</button>
                  </div>
                  <div class="col-sm-6">
                      <button id="off4" type="button" onclick="kirim('OFF34')" class="btn btn-danger col-sm-12">OFF</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </section>
  </div>
  
  <% include partials/footer %>
    
</div>

<% include partials/script %>

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree();
  });
  function kirim(data) {
      $.ajax({
          url: "https://server1.stmiot-tech.xyz/api/mqtt/publish",
          method: "POST",
          data : {
            topic : "/controls",
            pesan : data
          },
          success: function(data) {
            console.log(data);
              for(var i in data) {
                console.log(data[i].status);
                console.log(data[i].topic);
              }
          },
          error: function(data) {
            console.log(data);
          }
        });
  }
  function cekdata(angka){
        $.ajax({
          url: "https://server1.stmiot-tech.xyz/api/data",
          method: "POST",
          data : {
            topic : "/status/lampu"+angka,
            limit: "1"
          },
          success: function(data) {
            console.log(data);
              for(var i in data) { 
                $("#lampu"+angka).text(data[i].message);
                if (data[i].message === "ON") {
                  $("#on"+angka).addClass("disabled");
                  $("#off"+angka).removeClass("disabled");
                }else{
                  $("#off"+angka).addClass("disabled");
                  $("#on"+angka).removeClass("disabled");
                }
              }
          },
          error: function(data) {
            console.log(data);
          }
        });
};
setInterval(function(){
  cekdata('1');
  cekdata('2');
  cekdata('3');
  cekdata('4');
},3000);
  
</script>
</body>
</html>
