<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
</head>
<body class="hold-transition skin-green sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <% include partials/header %>
  
  
    <% include partials/sidebar %>
    

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Sensors
      </h1>
      <ol class="breadcrumb">
        <li><a href="/users"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#"><i class="fa fa-lightbulb-o"></i> Sensors</a></li>
      </ol>
    </section>
   <section class="content">
    <div class="row">
      <div class="col-lg-4">
        <div class="box box-solid no-border box-primary">
          <div class="box-header">
            <h3 class="box-title">Suhu</h3>
          </div>
          <div class="box-body">
            <p>
              Topic : /sensor/suhu<br>
              <div class="row">
                <div class="col-xs-2">
                  Value : 
                </div>
                <div class="col-xs-10">
                  <div class="progress">
                    <div class="progress-bar bg-yellow" style="width: 75%">31°C</div>  
                  </div>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="box box-solid no-border box-primary">
            <div class="box-header">
              <h3 class="box-title">Kelembaban</h3>
            </div>
            <div class="box-body">
              <p>
                Topic : /sensor/kelembaban<br>
                <div class="row">
                  <div class="col-xs-2">
                    Value :
                  </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar bg-blue" style="width: 24%">24%</div>  
                    </div>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="box box-solid no-border box-primary">
              <div class="box-header">
                <h3 class="box-title">Kebocoran Gas</h3>
              </div>
              <div class="box-body">
                <p>
                  Topic : /sensor/gas<br>
                  <div class="row">
                    <div class="col-xs-2">
                      Value : 
                    </div>
                    <div class="col-xs-10">
                      <div class="progress">
                        <div class="progress-bar bg-blue muted" style="width: 5%">5%</div>  
                      </div>
                    </div>
                  </div>
                </p>
              </div>
            </div>
          </div>
          
    </div>
    </section>
  </div>
  
    <% include partials/footer %>
    
</div>

  <% include partials/script %>

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree();
  });
  function cekdata(datas){
  $.ajax({
          url: "/api/data",
          method: "POST",
          data : {
            topic : "/sensor/"+datas,
            limit: "1"
          },
          success: function(data) {
            console.log(data);
              for(var i in data) { 
                $("#"+datas).text(data[i].message);
              }
          },
          error: function(data) {
            console.log(data);
          }
        });
};
setInterval(function(){
  cekdata('suhu');
  cekdata('kelembaban');
  cekdata('gas');
},3000);
</script>
</body>
</html>
